.items-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .cards {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    .item-card {
      width: 33%;
      justify-content: center;
      padding: 1rem;
    }
  }
}
