.login-container {
  display: flex;
  flex-direction: column;
  .login-form-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.form-container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      margin: 1rem;
      padding: 0.5rem;
      width: 100%;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 2px solid #1586e9;
      color: silver;
      font-weight: 500;
      font-style: italic;
      &:focus {
        outline: none;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 7px;
      margin: 1rem;
      border: 0;
      background: #1586e9;
      color: white;
      font-weight: 500;
      width: 50%;
    }
  }
}

.modal-content {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  .modal-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    padding-bottom: 0 !important;
    h5 {
      font-weight: 500 !important;
    }
  }
}
