.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-weight: 500;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    input {
      margin: 1rem;
      padding: 0.5rem;
      width: 50%;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 2px solid #1586e9;
      color: silver;
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      &:focus {
        outline: none;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 7px;
      margin: 1rem;
      border: 0;
      background: #1586e9;
      color: white;
      font-weight: 500;
      width: 25%;
    }
  }
}
